{% load static %}
<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- Подключаем шрифты -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="{% url 'club:club'  %}">Главная</a></li>
            <li><a href="#">Выбрать книжный клуб</a></li>
            <li><a href="#">Книги</a></li>
            <li><a href="#">Личный кабинет</a></li>
        </ul>
    </nav>
</header>
<main class="main-container">
    {% block content %}
    {% endblock %}
</main>
<footer>
    <p> © {{ year }}
</footer>
</body>
</html>