{% load static %}
<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="{% url 'club:club'  %}">Главная</a></li>
            <li><a href="#">Выбрать книжный клуб</a></li>
            <li><a href="#">Книги</a></li>
            <li><a href="#">Личный кабинет</a></li>
        </ul>
    </nav>
</header>

{% block content %}
{% endblock %}

<footer>
    <p> © {{ year }}
</footer>
</body>
</html>