
/* Общие стили */
body {
font-family: 'Fira Code', monospace;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

a {
  color: #000;
  text-decoration: none;
}


/* Стили для мобильных устройств */
@media screen and (max-width: 767px) {
   header {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color:  #6998AB;
  }

  nav {
    display: none;
  }

  nav:before {
    content: '\2630';
    display: block;
    font-size: 28px;
    padding: 10px;
    text-align: right;
  }

  nav ul {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  nav li {
    display: block;
    margin: 0;
    padding: 10px;
  }
  
  nav li a {
    display: block;
    padding: 10px;
    }

  footer {     
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        background-color:  #6998AB;
    }
}
    
    /* Стили для планшетов */
    @media screen and (min-width: 768px) and (max-width: 1023px) {
    header {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color:  #6998AB;
    }
    
    nav {
    float: left;
    width: 33.333%;
    }
    
    main {
    float: right;
    width: 100%;
    }
    
    nav ul {
    display: block;
    margin: 0;
    padding: 0;
    }
    
    nav li {
    display: inline-block;
    margin: 0;
    padding: 10px;
    }
    
    nav li a {
    display: block;
    padding: 10px;
    }

    footer {     
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        background-color:  #6998AB;
    }
    }
    
    /* Стили для десктопов */
    @media screen and (min-width: 1024px) {
    body{
        max-width: 100%;
        max-height: 100%;
    }

    header {
    text-align: center;
    position: fixed;
    background-color:  #6998AB;
    height: 50px;
    }
    
    header {
      display: flex;
      justify-content: space-between;
      align-items: center; 
      position: fixed;
      background-color: #6998AB;
      height: 50px;
      width: 100%;
      top: 0;
      left: 0;
      }
      
      nav {
      display: flex; 
      align-items: center; 
      }
      
      nav ul {
      display: flex;
      margin: 0;
      padding: 0;
      }
      
      nav li {
      margin: 0;
      padding: 10px;
      list-style: none;
      }
      
      nav li a {
      display: block;
      padding: 10px;
      }
      
      .logo {
      padding: 10px 50px;
      text-align: center;
      color: #f7f7f7;
      font-size: 20px;

      }

    footer {     
      max-width: 100%;
      background-color: #6998AB;
      color: #f7f7f7;
  }

    main {
      padding-top: 50px;
    }

    .home-container{
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: stretch;
      background-color: #f7f7f7;
    }

    .home-row{

    }

    .home-banner-container{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: stretch;
    }

    .banner-picture{
      max-width: 60%;
      overflow: hidden;
    }

    .banner-picture img{
      max-width: 100%;
    }

    .banner-content{
      max-width: 40%;
      padding: 20px;
    }

    .banner-content h1{
      text-align: center;
    }

    .banner-content p{

    }

    .banner-content button{
      text-align: center;
      margin: 0 auto;
      display: block;
    }

    .home-grid{

    }

    .home-cart{

    }

    .home-cart-container{

    }

    .home-cart-image{

    }

    .home-cart-title{
      
    }

    .home-cart-desc{
      
    }

    .home-book-title{
      
    }

    .home-book-image{
      
    }

    .home-cart-button{
      
    }

    .home-books{

    }

    .home-books-image{

    }


    .clubs-container{
      padding: 30px 100px ;
    }

    .clubs-grid{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      padding: 10px;
    }

    .clubs-cart{
      background-color: #f7f7f7;
      padding: 20px;
      text-align: center;
      border-radius: 20px;
      box-shadow: 0 5.5px 5px 0 #6998AB
    }

    .clubs-cart-container{

    }

    .clubs-cart-image{

    }

    .clubs-cart-image img{
      border-radius: 40px;
      display: block;
      margin: auto;
      
    }

    .clubs-cart-title{
        font-size: 14px;
    }

    .clubs-cart-desc{
      font-size: 14px;
    }

    .clubs-book-title{

    }

    .clubs-cart-image{

    }

    .clubs-cart-button{

    }

    .clubs-cart-button button{
      padding: 8px 17px;
      background-color: #6998AB;
      color: #f7f7f7;
      border-radius: 15px;
      border: #6998AB;
      font-size: 16px;
    }
}