/* Стили для десктопов */
@media screen and (min-width: 1024px) {
  body {
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    flex-direction: column;
  }
  
  main {
    padding-top: 50px;
  }
  
  header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: fixed;
    background-color: #6998AB;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  footer {   
    max-width: 100%;
    background-color: #6998AB;
    color: #f7f7f7;
    position: relative;
  }
  
  nav {
    display: flex; 
    align-items: center; 
  }
  
  nav ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0;
    padding: 10px;
    list-style: none;
  }
  
  nav li a {
    display: block;
    padding: 10px;
  }
  
  .logo {
    padding: 10px 50px;
    text-align: center;
    color: #f7f7f7;
    font-size: 20px;
  }

  .home-container, .home-banner-container, .home-grid, .home-cart, .home-create, .clubs-container, .clubs-grid, .clubs-cart {
    background-color: #f7f7f7;
  }
  
  .home-container, .home-banner-container, .home-grid {
    max-width: 100%;
    padding: 20px 50px;
  }
  
  .home-row h2 {
    padding-top: 20px;
    text-align: center;
  }
  
  .home-banner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    border-radius: 20px;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  }
  
  .banner-picture {
    max-width: 60%;
    overflow: hidden;
   padding: 10px;
  }
  
  .banner-picture img {
    max-width: 100%;
  }
  
  .banner-content {
    max-width: 40%;
    padding: 20px;
  }
  
  .banner-content h1 {
    text-align: center;
  }
  
  .banner-content p {
    
  }
  
  .banner-content button,
  .home-cart-button button,
  .home-create-descr a,
  .clubs-filter button,
  .books-filter button,
  .clubs-cart-button button {
    display: block;
    background-color: #f7f7f7;
    color: #6998AB;
    padding: 10px 30px;
    margin: 20px;
    border-radius: 6px;
    outline: 5px solid #eff4f7;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
    font-weight: 600;
  }
  
  .home-grid,
  .clubs-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
  }
  
  .home-cart,
  .clubs-cart {
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 5.5px 5px 0 #6998AB;
  }
  
  .home-cart-image img,
  .clubs-cart-image img {
    border-radius: 40px;
    display: block;
    margin: 0 auto;
  }
  
  .home-cart-desc,
  .clubs-cart-title,
  .clubs-cart-desc {
    font-size: 14px;
  }
  
  .home-create {
    margin: 20px auto;
    padding: 0 20px 20px 20px;
    width: 400px;
    text-align: center;
    border-radius: 6px;
    outline: 5px solid #eff4f7;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  }
  
  .home-create-image img {
    border-radius: 10px;
  }
  
  .clubs-filter,
  .books-filter {
    padding: 20px 200px;
  }
  
  .clubs-filter select,
  .books-filter select {
    margin: 5px;
    padding: 0 10px;
    width: 300px;
    height: 34px;
    color: #6998AB;
    background: white;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 2px;
    outline: 5px solid #eff4f7;
    -moz-outline-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  }
}
