
    /* Стили для планшетов */
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      body {
        font-size: 14px;
        line-height: 1.2;
      }
        header {
          display: flex;
          justify-content: space-between;
          align-items: center; 
          position: fixed;
          background-color: #6998AB;
          height: 50px;
          width: 100%;
          top: 0;
          left: 0;
          }
          
          nav {
          display: flex; 
          align-items: center; 
          }
          
          nav ul {
          display: flex;
          margin: 0;
          padding: 0;
          }
          
          nav li {
          margin: 0;
          padding: 10px;
          list-style: none;
          }
          
          nav li a {
          display: block;
          padding: 10px;
          }
          
          .logo {
          padding: 10px 50px;
          text-align: center;
          color: #f7f7f7;
          font-size: 20px;
          }
    
          .burger-icon {
            display: none;
          }
    
        
        footer {     
            bottom: 0;
            left: 0;
            right: 0;
            padding: 10px;
            background-color:  #6998AB;
        }
        main {
          padding-top: 50px;
        }
    
        .home-container {
          max-width: 100%;
          padding: 15px 30px ;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: stretch;
          background-color: #f7f7f7;
        }
        .home-row h2{
          padding-top: 17px;
          text-align: center;
        }
        .home-banner-container {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: stretch;
          background-color: #ffffff;
          border-radius: 20px;
          border-color: #c4c4c4 #d1d1d1 #d4d4d4;
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
        }
        .banner-picture{
          max-width: 60%;
          overflow: hidden;
          padding: 10px;
        }
        .banner-picture img{
          max-width: 100%;
        }
        .banner-content button{
          display: block;
          background-color: #f7f7f7;
          color: #6998AB;
          padding: 8px 25px;
          border-radius: 6px;
          outline: 5px solid #eff4f7;
          border: 1px solid;
          border-color: #c4c4c4 #d1d1d1 #d4d4d4;
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
          font-weight: 600;
          margin: 30px auto;
        }
        .banner-content {
          max-width: 40%;
          padding: 10px;
        }
        .banner-content h1{
          text-align: center;
        }
        .home-grid{
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 20px;
          padding: 10px;
          margin: 25px;
        }
    
        .home-cart{
          background-color: #f7f7f7;
          padding: 15px;
          text-align: center;
          border-radius: 20px;
          box-shadow: 0 5.5px 5px 0 #6998AB;
        }
    
        .home-cart-image img{
          border-radius: 40px;
          display: block;
          margin: 0 auto;
          width: 80%;
          height: 80%;
        }

        .home-cart-desc{
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
    
        .home-cart-button button{
          display: inline-block;
          background-color: #f7f7f7;
          color: #6998AB;
          padding: 8px 25px;
          margin: 20px;
          border-radius: 6px;
          outline: 5px solid #eff4f7;
          border: 1px solid;
          border-color: #c4c4c4 #d1d1d1 #d4d4d4;
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
          font-weight: 600;
        }
    
        .home-create{
          background-color: #ffffff;
          margin: 15px auto;
          padding: 0 15px 15px 15px;
          width: 350px;
          text-align: center;
          border-radius: 6px;
          outline: 5px solid #eff4f7;
          border: 1px solid;
          border-color: #c4c4c4 #d1d1d1 #d4d4d4;
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
        }

        .home-create-image img{
          width: 80%;
          height: 80%;
          border-radius: 10px;
        }
        
        .home-create-descr a{
          display: inline-block;
          background-color: #f7f7f7;
          color: #6998AB;
          padding: 8px 25px;
          margin: 15px;
          border-radius: 6px;
          outline: 5px solid #eff4f7;
          border: 1px solid;
          border-color: #c4c4c4 #d1d1d1 #d4d4d4;
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
          font-weight: 600;
        }
        .clubs-filter,
        .books-filter{
          padding: 15px 100px;
        }
        .clubs-filter button,
        .books-filter button{
          display: inline-block;
          background-color: #f7f7f7;
          color: #6998AB;
          padding: 7px 25px;
          margin: 15px;
          border-radius: 6px;
          outline: 5px solid #eff4f7;
          border: 1px solid;
          border-color: #c4c4c4 #d1d1d1 #d4d4d4;
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
          font-weight: 600;
        }
        .clubs-filter select,
        .books-filter select{
          margin: 5px;
          padding: 0 10px;
          width: 230px;
          height: 30px;
          color: #6998AB;
          background: white;
          border: 1px solid;
          border-color: #c4c4c4 #d1d1d1 #d4d4d4;
          border-radius: 2px;
          outline: 5px solid #eff4f7;
          -moz-outline-radius: 3px;
          -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
        }
        .clubs-container{
          padding: 20px 50px ;
        }
    
        .clubs-grid{
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 20px;
          padding: 10px;
        }
    
        .clubs-cart{
          background-color: #f7f7f7;
          padding: 15px;
          text-align: center;
          border-radius: 20px;
          box-shadow: 0 5.5px 5px 0 #6998AB
        }
    
        .clubs-cart-image img{
          border-radius: 40px;
          display: block;
          margin: 0 auto;
          width: 60%;
          height: 60%;
        }
    
        .clubs-cart-title{
          font-size: 12px;
        }
    
        .clubs-cart-desc{
          font-size: 12px;
          padding: 0 7px;
        }
        .clubs-book-image img{
          width: 50%;
        }
    
        .clubs-cart-button button{
          display: inline-block;
          background-color: #f7f7f7;
          color: #6998AB;
          padding: 7px 25px;
          margin: 10px;
          border-radius: 6px;
          outline: 5px solid #eff4f7;
          border: 1px solid;
          border-color: #c4c4c4 #d1d1d1 #d4d4d4;
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
          font-weight: 600;
        }
        .clubs-cart-button button:hover{
          -webkit-transform: scale(1.1);
          -ms-ransform: scale(1.1);
          transform: scale(1.1);
          transition: 1s;
        }
    
}