{% extends 'base.html' %}

{% block content %}
<section class="account-container">
  <div class="account-content-container">
    <div class="account-content-row">
      <h2>Мой профиль</h2>
      <p><b>Имя:</b> {{ user.first_name }} {{ user.last_name }}</p>
      <p><b>Дата рождения:</b> {{ user.profile.date_of_birth  }}</p>
      <p><b>Дата регистрации:</b> {{ user.date_joined }}</p>
      <a class="account-prof" href="{% url 'club:edit_profile' %}">Редактировать профиль</a>
      <a class="account-prof" href="{% url 'club:logout' %}">Выйти из профиля</a>
    </div>
    <div class="account-content-row">
      <h2>Мои клубы</h2>
      <div class="account-clubs-container">
        {% for club in clubs %}
        <div class="account-clubs-row">
          <a href="{% url 'club:club_detail' club.id %}">
            <img src="{{ club.image.url }}" width="100">
            <h4>{{ club.name }}</h4>
          </a>
          <p>{{ club.venue }}</p>
        </div>
        {% empty %}
        <p>Вы не состоите в ни одном клубе</p>
        {% endfor %}
      </div>
    </div>
    <div class="account-content-row">
      <h2>Хочу прочитать</h2>
      <div class="account-books-container">
        {% for book in want_to_read_books %}
        <div class="account-books-row">
          <a href="{% url 'club:book_detail' book.id %}">
            <img src="{{ book.image.url }}" width="100">
            <h5>{{ book.author }}</h5>
            <h4>{{ book.name }}</h4>
          </a>
        </div>
        {% empty %}
        <p>Вы не выбрали ни одной книги для чтения</p>
        {% endfor %}
      </div>
    </div>
    <div class="account-content-row">
      <h2>Прочитанные книги</h2>
      <div class="account-books-container">
        {% for book in read_books %}
        <div class="account-books-row">
          <a href="{% url 'club:book_detail' book.id %}">
            <img src="{{ book.image.url }}" width="100">
            <h5>{{ book.author }}</h5>
            <h4>{{ book.name }}</h4>
          </a>
        </div>
        {% empty %}
        <p>Вы еще не прочитали ни одной книги</p>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<script>
  const clubsContainer = document.querySelector('.account-clubs-container');
  const clubRows = document.querySelectorAll('.account-clubs-row');
  const booksContainer = document.querySelector('.account-books-container');
  const bookRows = document.querySelectorAll('.account-books-row');

  clubsContainer.addEventListener('scroll', () => {
    clubRows.forEach((row) => {
      const rowRect = row.getBoundingClientRect();
      const containerRect = clubsContainer.getBoundingClientRect();
      if (rowRect.left >= containerRect.left && rowRect.right <= containerRect.right) {
        row.classList.add('active');
      } else {
        row.classList.remove('active');
      }
    });
  });

  booksContainer.addEventListener('scroll', () => {
    bookRows.forEach((row) => {
      const rowRect = row.getBoundingClientRect();
      const containerRect = booksContainer.getBoundingClientRect();
      if (rowRect.left >= containerRect.left && rowRect.right <= containerRect.right) {
        row.classList.add('active');
      } else {
        row.classList.remove('active');
      }
    });
  });
</script>
{% endblock %}