{% extends 'base.html' %}

{% block content %}
<section class="account-container">
  <div class="account-content-container">
    <div class="account-content-row">
      <h2>Мой профиль</h2>
      <p><b>Имя:</b> {{ user.first_name }} {{ user.last_name }}</p>
      <p><b>Дата рождения:</b> {{ user.profile.date_of_birth  }}</p>
      <p><b>Дата регистрации:</b> {{ user.date_joined }}</p>
      <a class="account-prof" href="{% url 'club:edit_profile' %}">Редактировать профиль</a>
      <a class="account-prof" href="{% url 'club:logout' %}">Выйти из профиля</a>
    </div>
    <div class="account-content-row">
      <h2>Мои клубы</h2>
      <div class="account-clubs-container">
        {% for club in clubs %}
        <div class="account-clubs-row">
          <a href="{% url 'club:club_detail' club.id %}"><img src="{{ club.image.url }}" width="100" >
          <h3>{{ club.name }}</h3></a>
          <p>{{ club.venue }}</p>
        </div>
        {% empty %}
        <p>Вы не состоите в ни одном клубе</p>
      {% endfor %}
      </div>
    </div>
    <div class="account-content-row">
      <h2>Хочу прочитать</h2>
      {% for book in want_to_read_books %}
      <div class="account-books-container">
        <div class="account-books-row">
          <img src="{{ book.image.url }}" width="100" >
          <h3>{{ book.name }}</h3>
          <h4>{{ book.author }}</h4>
        </div>
      {% empty %}
      <p>Вы не выбрали ни одной книги для чтения</p>
      {% endfor %}
      </div>
    </div>
    <div class="account-content-row">
      <h2>Прочитанные книги</h2>
      {% for book in read_books %}
      <div class="account-books-container">
        <div class="account-books-row">
          <img src="{{ book.image.url }}" width="100" >
          <h3>{{ book.name }}</h3>
          <h4>{{ book.author }}</h4>
        </div>
      {% empty %}
      <p>Вы еще не прочитали ни одной книги</p>
      {% endfor %}
      </div>
    </div>
  </div>
</section>
<script>
  const container = document.querySelector('.account-clubs-container');
  const rows = document.querySelectorAll('.account-clubs-row');

  container.addEventListener('scroll', () => {
    rows.forEach((row) => {
      const rowRect = row.getBoundingClientRect();
      const containerRect = container.getBoundingClientRect();
      if (rowRect.left >= containerRect.left && rowRect.right <= containerRect.right) {
        row.classList.add('active');
      } else {
        row.classList.remove('active');
      }
    });
  });
</script>
{% endblock %}