{% extends 'base.html' %}

{% block content %}
<div class="admin-container">
  <h2>Страница администратора клуба</h2>
  <div class="admin-item">
    <h3>Выберите книгу для чтения</h3>
    <form method="POST" action="{% url 'club:club_admin' club_id=club.id %}">
      {% csrf_token %}
      {{ selection_form }}
      <button type="submit">Выбрать</button>
    </form>
  </div>
  <div class="admin-item">
    <h3>Добавить книгу в очередь</h3>
    <form method="POST" action="{% url 'club:add_to_queue' club_id=club.id %}">
      {% csrf_token %}
      {{ queue_form }}
      <button type="submit">Добавить</button>
    </form>
  </div>
  <div class="admin-item">
    <h3>Очередь на прочтение</h3>
    <div class="admin-queue">
      {%  for queue in book_queue %}
        <div class="admin-queue-item">
          <img src="{{ queue.book.image.url }}" alt="{{ book.name }} cover" height="220">
          <form method="POST" action="{% url 'club:remove_from_queue' club_id=club.id %}">
            {% csrf_token %}
            <input type="hidden" name="book_id" value="{{ book.id }}">
            <button type="submit">Удалить</button>
          </form>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="admin-item">
    <h3>Прочитанные книги</h3>
      {% for book in club.read_books.all %}
        <img src="{{book.image.url }}" alt="{{ club.read_books.name }} cover" height="220">
      {% endfor %}
  </div>
  <div class="admin-item">
    <h3>Выбранная книга</h3>
    {% if club.selected_book %}
      <img src="{{ club.selected_book.image.url }}" alt="{{ club.selected_book.name }} cover" height="220">
    {% else %}
      <p>Книга не выбрана</p>
    {% endif %}
  </div>
  <div class="admin-link">
    <a href="{% url 'club:club_detail' club_id=club.id %}">Перейти на страницу клуба</a>
  </div>
</div>
{% endblock %}