{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="clubs-container">
    <div class="clubs-grid">
        {% for club in clubs %}
        <div class="clubs-cart">
            <div class="clubs-cart-container">
                <div class="clubs-cart-image">
                    <img src="{{ club.image.url }}" width="120" height="120">
                </div>
                <div class="clubs-cart-title">
                    <h2><a href="{% url 'club:club_detail' club.id %}">{{ club.name }}</a></h2>
                    <h4>{{ club.venue }}</h4>
                </div>
                <div class="clubs-cart-desc">
                    <p>{{ club.description }}</p>
                </div>
                <div class="clubs-book-title">
                    <h3>{{ club.book.name }}</h3>
                </div>
                <div class="clubs-book-image">
                    <img src="{{ club.book.image.url }}">
                </div>
                <div class="clubs-cart-button">
                    <button type="submit" class="btn btn-primary add-to-cart-btn">Вступить</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
