{% extends 'base.html' %}
{% load static %}

{% block content %}

{% for book in books %}
<div class="books-container">
    <div class="books-cart-container">
        <div class="books-cart-row">
            <div class="books-cart-image" >
                <img src="{{ book.image.url }}" width="150" >
            </div>
        </div>
        <div class="books-cart-row">
            <div class="books-cart-title">
                <h3>{{ book.name }}</h3>
                <h4>{{ book.author }}</h4>
            </div>
            <div class="books-cart-desc">
                <p>{{ book.description }}</p>
            </div>
            <div class="books-cart-button">
                <button type="submit" class="btn btn-primary add-to-cart-btn">Добавить на полку</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}