{% extends 'base.html' %}
{% load static %}

{% block content %}
<script>
    const clampedElements = document.querySelectorAll('.clamp');
    // Для каждого элемента добавляем обработчик клика
    clampedElements.forEach((element) => {
        element.addEventListener('click', () => {
            element.classList.toggle('expanded');
        });
    });
</script>

<div class="books-filter">
    <form action="{% url 'club:books' %}" method="GET">
        <label for="genre">Жанр:</label>
        <select name="genre" id="genre">
            <option value="">Все</option>
            {% for genre in genres %}
                <option value="{{ genre }}">{{ genre }}</option>
            {% endfor %}
        </select>

        <label for="theme">Тема:</label>
        <select name="theme" id="theme">
            <option value="">Все</option>
            {% for theme in themes %}
                <option value="{{ theme }}">{{ theme }}</option>
            {% endfor %}
        </select>
        <button type="submit">Фильтровать</button>
    </form>
</div>
{% for book in books %}
<div class="books-container">
    <div class="books-cart-container">
        <div class="books-cart-row">
            <div class="books-cart-image">
                <a href="{% url 'club:book_detail' book.pk %}"><img src="{{ book.image.url }}" width="150"></a>
            </div>
        </div>
        <div class="books-cart-row">
            <div class="books-cart-title">
                <h3>{{ book.name }}</h3>
                <h4>{{ book.author }}</h4>
            </div>
            <div class="books-cart-desc">
                <p class="clamp">{{ book.description }}</p>
            </div>
            <div class="books-cart-button">
                <form action="{% url 'club:book_detail' book.pk %}" target="_blank">
                    <button type="submit" class="btn btn-primary add-to-cart-btn">Прочитать подробнее</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
