{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="clubs-filter">
    <form action="{% url 'club:book_clubs' %}" method="GET">
        <select name="genre" id="genre">
            <option value="">Жанр</option>
            {% for genre in genres %}
                <option value="{{ genre }}">{{ genre }}</option>
            {% endfor %}
        </select>
        <select name="theme" id="theme">
            <option value="">Тема</option>
            {% for theme in themes %}
                <option value="{{ theme }}">{{ theme }}</option>
            {% endfor %}
        </select>
        <button type="submit">Фильтровать</button>
    </form>
</div>
<div class="clubs-container">
    <div class="clubs-grid">
        {% for club in clubs %}
        <div class="clubs-cart">
            <div class="clubs-cart-container">
                <div class="clubs-cart-image">
                    <img src="{{ club.image.url }}" width="150" height="150">
                </div>
                <div class="clubs-cart-title">
                    <h2><a href="{% url 'club:club_detail' club.id %}">{{ club.name }}</a></h2>
                    <h4>{{ club.venue }}</h4>
                </div>
                <div class="clubs-cart-desc">
                    <p>{{ club.description }}</p>
                </div>
                <div class="clubs-book-title">
                    <h4>Сейчас читаем:</h4>
                </div>
                <div class="clubs-book-image">
                    {% if club.selected_book %}
                    <a href="{% url 'club:book_detail' club.selected_book.id %}"><img src="{{ club.selected_book.image.url }}" alt="{{ club.selected_book.name }} cover" width="150"></a>
                    {% else %}
                    <p>Книга не выбрана</p>
                    {% endif %}
                </div>
                <div class="clubs-cart-button">
                    {% if request.user in club.members.all %}
                    <form action="{% url 'club:club_detail' club.id %}">
                        {% csrf_token %}
                        <button type="submit">Вы участник клуба <br> перейти на страницу клуба</button>
                    </form>
                    {% else %}
                    <form action="{% url 'club:join_club' club.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="club_id" value="{{ club.id }}">
                        <button type="submit">Вступить</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
