{% extends 'base.html' %}
{% block content %}
<div class="book-container">
    <div class="book-cart-container">
        <div class="book-cart-row">
            <div class="book-cart-image">
                <img src="{{ book.image.url }}" width="150">
            </div>
            <div class="book-cart-details">
                <h3>{{ book.name }}</h3>
                <h4>{{ book.author }}</h4>
                <p>{{ book.description }}</p>

            </div>
            <div class="book-rating">
                {% if book.average_rating %}
                    <p>{{ book.average_rating }}</p>
                {% else %}
                    <p>Нет оценок</p>
                {% endif %}
                <div class="rating-stars">
                    <span class="star {% if book.user_rating and book.user_rating >= 1 %}rated{% endif %}" data-rating="1">★</span>
                    <span class="star {% if book.user_rating and book.user_rating >= 2 %}rated{% endif %}" data-rating="2">★</span>
                    <span class="star {% if book.user_rating and book.user_rating >= 3 %}rated{% endif %}" data-rating="3">★</span>
                    <span class="star {% if book.user_rating and book.user_rating >= 4 %}rated{% endif %}" data-rating="4">★</span>
                    <span class="star {% if book.user_rating and book.user_rating >= 5 %}rated{% endif %}" data-rating="5">★</span>
                </div>
            </div>
            <div class="book-status">
                <div class="book-status">
                    <div class="book-status-details">
                        <form id="status-form" method="POST">
                            {% csrf_token %}
                            <select id="status-select" name="status">
                                <option value="none" {% if not user_book.is_want_to_read and not user_book.is_read %}selected{% endif %}>Не выбрано</option>
                                <option value="to_read" {% if user_book.is_want_to_read %}selected{% endif %}>Хочу прочитать</option>
                                <option value="read" {% if user_book.is_read %}selected{% endif %}>Прочитана</option>
                            </select>
                            <button type="submit" class="btn btn-primary update-status-btn">Обновить</button>
                        </form>
                        {% if book.date_read %}
                            <p>Дата прочтения: {{ book.date_read }}</p>
                        {% endif %}
                    </div>
    
                <div class="book-links">
                    <p>Купить книгу:</p>
                    <!-- здесь должен быть код для отображения ссылок на магазины, где можно купить книгу -->
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const statusForm = document.querySelector('#status-form');

        statusForm.addEventListener('submit', (event) => {
            event.preventDefault();

            const selectedStatus = document.querySelector('#status-select').value;
            const bookId = '{{ book.id }}';
            const url = `/update_book_status/${bookId}/${selectedStatus}/`;

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Обновление статуса книги на странице
                    if (selectedStatus === 'none') {
                        document.querySelector('.book-status-details').innerHTML = '';
                    } else if (selectedStatus === 'to_read') {
                        document.querySelector('.book-status-details').innerHTML = '<p>Статус: Хочу прочитать</p>';
                    } else if (selectedStatus === 'read') {
                        document.querySelector('.book-status-details').innerHTML = '<p>Статус: Прочитана</p>';
                    }
                } else {
                    // В случае ошибки отображаем сообщение пользователю
                    console.log('Ошибка при обновлении статуса книги');
                }
            })
            .catch(error => {
                console.log('Ошибка при обновлении статуса книги:', error);
            });
        });
    });
</script>
{% endblock %}
