{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="club-details">
    <div class="club-info">
        <div class="club-cart-image">
            <img src="{{ club.image.url }}" width="120" height="120">
            <h3>Клуб</h3>
            <h2>{{ club.name }}</h2>
            <p><strong>Место проведения: </strong>{{ club.venue }}</p>
            <p><strong>Дата следующей встречи: </strong>{{ club.meetings.first.date|date:"d.m.Y" }}</p>
            {% if club.meetings.first.location_link %}
            <p><strong>Ссылка на встречу: </strong><a href="{{ club.meetings.first.location_link }}">Перейти</a></p>
            {% endif %}
        </div>
        <div class="club-cart-desc">
            <div>
                <h3>О нашем клубе</h3>
                <p>{{ club.description }}</p>
            </div>
            <div class="club-members">
                <p><b>{{ club.members.count }}</b> человек в клубе</p>
                <p>Администратор группы: <b>{{ club.admin }}</b></p>
                <h3>Члены клуба</h3>
                <div class="hidden-members">
                    {% for member in club.members.all %}
                    <p>{{ member }} ,</p>
                    {% endfor %}
                </div>
            </div>
            <div class="club-admin">
                {% if request.user == club.admin %}
                <a href="{% url 'club:club_admin' club.id %}">Перейти к администрированию клуба</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="club-selected-book">
        <h2>Выбранная книга</h2>
        {% if club.selected_book %}
        <div class="book-details">
            <div class="book-cover">
                    <img src="{{ club.selected_book.image.url }}" alt="{{ club.selected_book.name }} cover">
            </div>
            <div class="book-info">
                {% if request.user == club.admin %}
                <form method="POST" action="{% url 'club:mark_book_read' club.id %}">
                    {% csrf_token %}
                    <button type="submit">Отметить как прочитанную</button>
                </form>
                {% endif %}
            </div>
        </div>
        {% else %}
        <p>Книга для прочтения ещё не выбрана.</p>
        {% endif %}
    </div>
    <div class="club-book-queue">
        <h2>Книги в очереди</h2>
        <div class="club-queue-container">
            {% for queue in book_queue %}
                <div class="club-queue-item">
                    <img src="{{ queue.book.image.url }}" alt="{{ queue.book.name }} cover">
                    <p>Поставил(а) в очередь: <br> <b>{{ queue.member.username }}</b></p>
                    <p>Дата добавления: <br> <b>{{ queue.created_at|date:"d.m.Y" }}</b></p>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="club-read-books">
        <h2>Прочитанные книги</h2>
        <div class="club-read-container">
            {% for book in club.read_books.all %}
                <div class="club-read-item">
                    <img src="{{ book.image.url }}" alt="{{book_read.name }} cover" height="230">
                </div> 
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}