{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="club-details">
    <div class="club-info">
        <div class="clubs-cart-image">
            <img src="{{ club.image.url }}" width="120" height="120">
            <h3>клуб</h3>
            <h2>{{ club.name }}</h2>
            <p><strong>Место проведения: </strong>{{ club.venue }}</p>
            <p><strong>Дата следующей встречи: </strong>{{ club.date }}</p>
        </div>
        <div class="clubs-cart-desc">
            <div>
                <h3>О нашем клубе</h3>
                <p>{{ club.description }}</p>
            </div>
            <div>
                <p> человек в клубе</p>
                <h3>Члены клуба</h3>
                <ul>
                    {% for member in club.members.all %}
                    <li>{{ member }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="club-members">
    </div>
    <div class="club-selected-book">
        <h2>Выбранная книга</h2>
        {% if club.selected_book %}
        <div class="book-details">
            <div class="book-cover">
                <img src="{{ club.selected_book.image.url }}" alt="{{ club.selected_book.name }} cover">
            </div>
            <div class="book-info">
                <h3>{{ club.selected_book.name }}</h3>
                <p><strong>Автор: </strong>{{ club.selected_book.author }}</p>
                <p>{{ club.selected_book.description }}</p>
                {% if request.user == club.admin %}
                <form method="POST" action="{% url 'club:mark_book_read' club.id %}">
                    {% csrf_token %}
                    <button type="submit">Отметить как прочитанную</button>
                </form>
                {% endif %}
            </div>
        </div>
        {% else %}
        <p>Книга для прочтения ещё не выбрана.</p>
        {% endif %}
    </div>
    <div class="club-book-queue">
        <h2>Книги в очереди</h2>
        <ul>
            {% for book in club.book_queue.all %}
            <li>{{ book.name }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="club-read-books">
        <h2>Прочитанные книги</h2>
        <ul>
            {% for book in club.read_books.all %}
            <li>{{ book.name }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}