{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="home-container">
    <div class="home-row">
        <div class="home-banner-container">
            <div class="banner-picture">
                <img src="{% static 'img/1.jpg' %}" alt="">
            </div>
            <div class="banner-content">
                <h1>Добро пожаловать в мир книг! </h1>
                <p>Здесь мы делимся своими впечатлениями, обмениваемся мнениями и вместе открываем для себя новые книги</p>
                <p>Найди свою следующую любимую книгу с нами.</p>
                <button>
                    Присоединяйся
                </button>
            </div>
        </div>
    </div>
    <div class="home-row">

    </div>
</div>
{% endblock %}