{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="comments-container">
    <div class="rates-form">
        {% if user.is_authenticated %}
        <form id="rating-form" method="POST" data-url="{% url 'club:rate_book' book.id %}">
            {% csrf_token %}
            <p>Оцени книгу</p>
            <select name="rating" onchange="submitRating()">
                <option value="1" {% if user_book.rating == 1 %}selected{% endif %}>1</option>
                <option value="2" {% if user_book.rating == 2 %}selected{% endif %}>2</option>
                <option value="3" {% if user_book.rating == 3 %}selected{% endif %}>3</option>
                <option value="4" {% if user_book.rating == 4 %}selected{% endif %}>4</option>
                <option value="5" {% if user_book.rating == 5 %}selected{% endif %}>5</option>
                <option value="6" {% if user_book.rating == 1 %}selected{% endif %}>6</option>
                <option value="7" {% if user_book.rating == 2 %}selected{% endif %}>7</option>
                <option value="8" {% if user_book.rating == 3 %}selected{% endif %}>8</option>
                <option value="9" {% if user_book.rating == 4 %}selected{% endif %}>9</option>
                <option value="10" {% if user_book.rating == 5 %}selected{% endif %}>10</option>
            </select>
        </form>
        {% endif %}
    </div>
    <div class="comment-form">
        <form method="post" action="{% url 'club:book_detail' book.id %}">
            {% csrf_token %}
            <textarea name="comment_text" rows="4" cols="50" placeholder="Оставьте свой комментарий здесь..."></textarea>
            <button type="submit">Отправить</button>
        </form>
    </div>
</div>

<script>
    function submitRating() {
        const ratingForm = document.getElementById('rating-form');
        const formData = new FormData(ratingForm);

        fetch(ratingForm.getAttribute('data-url'), {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            }
        }).then(response => {
            if (response.ok) {
                // If the rating was successfully submitted, you can update the displayed average rating on the page
                response.json().then(data => {
                    const averageRatingContainer = document.querySelector('.average-rating');
                    averageRatingContainer.textContent = data.average_rating;
                });
            }
        }).catch(error => {
            console.error('Error:', error);
        });
    }
</script>

{% endblock %}
