{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="home-container">
    <div class="home-row">
        <div class="home-banner-container">
            <div class="banner-picture">
                <img src="{% static 'img/3.jpg' %}" alt="">
            </div>
            <div class="banner-content">
                <h1>Добро пожаловать <br> в мир книг! </h1>
                <p>Здесь мы делимся своими впечатлениями, обмениваемся мнениями и вместе открываем для себя новые книги</p>
                <p>Найди свою следующую любимую книгу с нами.</p>
                <button>
                    Присоединяйся
                </button>
            </div>
        </div>
    </div>
    <div class="home-row">
        <div class="home-grid">
            <div class="home-cart">
                <div class="home-cart-container">
                    <div class="home-cart-image">
                    </div>
                    <div class="home-cart-title">
                    </div>
                    <div class="home-cart-desc">
                    </div>
                    <div class="home-book-title">
                    </div>
                    <div class="home-book-image">
                    </div>
                    <div class="home-cart-button">
                        <button>Вступить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-row">
        <div class="home-books">
        </div>
        <div class="home-books-image">
            <img src="" alt=""> 
        </div>
    </div>
</div>
{% endblock %}