{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="home-container">
    <div class="home-row">
        <div class="home-banner-container">
            <div class="banner-picture">
                <img src="{% static 'img/3.jpg' %}" alt="">
            </div>
            <div class="banner-content">
                <h1>Добро пожаловать <br> в мир книг! </h1>
                <p>Здесь мы делимся своими впечатлениями, обмениваемся мнениями и вместе открываем для себя новые книги</p>
                <p>Найди свою следующую любимую книгу с нами.</p>
                <form action="{% url 'club:register' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="user_register">
                    <button type="submit" >Присоединяйся</button>
                </form>
            </div>
        </div>
    </div>
    <div class="home-row">
        <h2>Выберете идеальный книжный клуб</h2>
        <div class="home-grid">
            {% for club in clubs %}
            <div class="home-cart">
                <div class="home-cart-container">
                    <div class="home-cart-image">
                        <a href="{% url 'club:club_detail' club.id %}"><img src="{{ club.image.url }}" height="150" alt=""></a>
                    </div>
                    <div class="home-cart-title">
                        <h3><a href="{% url 'club:club_detail' club.id %}">{{ club.name }}</a></h3>
                    </div>
                    <div class="home-cart-desc">
                        <p>{{ club.description }}</p>
                    </div>
                    <div class="home-cart-button">
                        {% if request.user in club.members.all %}
                        <form action="{% url 'club:club_detail' club.id %}">
                            {% csrf_token %}
                            <button type="submit">Вы участник клуба <br> перейти на страницу клуба</button>
                        </form>
                    {% else %}
                    <form action="{% url 'club:join_club' club.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="club_id" value="{{ club.id }}">
                            <button type="submit" >Вступить</button>
                        </form>
                    {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="home-row">
        <div class="home-create">
            <div class="home-create-image">
                <img src="{% static 'img/5.jpg' %}" alt="" height="300"> 
            </div>
            <div class="home-create-descr">
                <p>Организуйте свой новый книжный клуб или добавь уже существующий.</p>
                <a href="{% url 'club:create_club' %}">Создайте книжный клуб</a>
            </div>
        </div>
    </div>
    <div class="home-row">
        <div class="home-book">

        </div>

    </div>
</div>
{% endblock %}