{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="login__container">
    <div class="login">
        <h1>Войти в личный кабинет</h1>
        <form method="post" action="{% url 'club:login' %}">
            {% csrf_token %}
            <input type="text" id="username" name="username" placeholder="Логин или Email">
            <input type="password" id="password" name="password" placeholder="Пароль">
            <p class="remember_me">
                <label>
                <input type="checkbox" name="remember_me" id="remember_me">
                Запомнить меня
                </label>
            </p>
            <p class="submit"><input type="submit" name="commit" value="Войти"></p>
        </form>
   </div>
   <div class="login-help">
    <a href="{% url 'club:register' %}">Зарегистрироваться</a>
    <a href="#">Забыли пароль?</a>
   </div>
</section>

{% endblock %}
