{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="login__body">
  <h1>Личный кабинет</h1>
  <form method="post" action="{% url 'club:login' %}">
  {% csrf_token %}
  <label for="username">Имя пользователя:</label>
  <input type="text" id="username" name="username">
  <br>
  <label for="password">Пароль:</label>
  <input type="password" id="password" name="password">
  <br>
  <button class="login__input" type="submit">Войти</button>
  </form>
  <div class="club__register">
    <a href="{% url 'club:register' %}">Зарегистрироваться</a>
  </div>
  <div class="club__signup">
    <a href="#">Забыли пароль?</a>
  </div>
</div>
{% endblock %}

