{% extends 'base.html' %}

{% block content %}
<section class="register__container">
  <div class="register">
    <h1>Регистрация</h1>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="form__field">
          {{ field.label_tag }}
          {{ field }}
          {% if field.errors %}
            <span class="form__error">{{ field.errors }}</span>
          {% endif %}
        </div>
      {% endfor %}
      <button type="submit">Зарегистрироваться</button>
    </form>
  </div>
</section> 
{% endblock %}
