{% extends 'base.html' %}

{% block content %}
<section class="register__container">
  <div class="register">
    <h1>Регистрация</h1>
    <form class="register__form" method="post">
      {% csrf_token %}
      <div class="form__field">
        <input type="text" id="username" name="username" placeholder="Логин или Email">
        <input type="password" id="password" name="password1" placeholder="Пароль">
        <input type="password" id="password2" name="password2" placeholder="Подтверждение пароля">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <span class="form__error">{{ error }}</span>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
    <p class="submit"><input type="submit" name="commit" value="Зарегистрироваться"></p>
    </form>
  </div>
</section> 
{% endblock %}
